.header__cart{
    position: absolute;
    right: -270px;
    top: 75px;
}

.cart__items_image{
    width: 100%;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 55px -20px;
    overflow: hidden;
}

.cart__items_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart__item_title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.cart__items_colour{
    text-transform: capitalize;
}
.cart__items_actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}

@media only screen and (max-width: 1200px) {
    .header__cart {
        right: 0;
    }
}